<div class="top-menu">
  <div class="logo">
    <a mat-button routerLink="/">
       <img class="top-logo" alt="Abidjan HD" src="./assets/img/abidjan-hd.webp" width="96" height="96">
    </a>

  </div>
  <div class="zone-icone">
    <div class="icon">
      <img alt="" src="./assets/img/maison.webp" width="58" height="46">
    </div>
    <div class="information">
      <h3>Rue des Carrossiers</h3>
      <h4>Immeuble Habitat Africain</h4>
    </div>

  </div>
  <div class="zone-icone tel">
    <div class="icon">
      <img alt="" src="./assets/img/telephone.webp" width="45" height="44">
    </div>
    <div class="information">
      <h3>+225 07-48-348-221</h3>
      <h4>WhatsApp & Téléphone</h4>
    </div>

  </div>
</div>
