<div class="top-menu">
  <div class="logo">
    <a mat-button routerLink="/">
       <img class="top-logo" alt="My image name" src="./assets/img/abidjan-hd.webp">
    </a>

  </div>
  <div class="zone-icone">
    <div class="icon">
      <img alt="" src="./assets/img/maison.webp">
    </div>
    <div class="information">
      <h3>Rue des Carrossiers</h3>
      <h4>Immeuble Habitat Africain</h4>
    </div>

  </div>
  <div class="zone-icone tel">
    <div class="icon">
      <img alt="" src="./assets/img/telephone.webp">
    </div>
    <div class="information">
      <h3>+225 07-48-348-221</h3>
      <h4>WhatsApp & Téléphone</h4>
    </div>

  </div>
</div>
