<div class="notre-offre">
  <h2>Notre offre</h2>
  <hr>
  <mat-tab-group mat-align-tabs="center" class="tabLation">
    <mat-tab label="Visite virtuelle 3D">
      Vos prospects se déplacent d’une pièce à l’autre de votre bien, avec une impression de liberté inégalée

    </mat-tab>
    <mat-tab label="Visite virtuelle HD">
      Vos biens présentés de façon immersive et en haute définition, grâce à des panoramas de haute qualité.
    </mat-tab>
    <mat-tab label="Retouche de panoramas">
      Confiez nous vos fichiers RAW, DNG, GPR et tout autre type de panoramas et laissez nous les sublimer .
    </mat-tab>
  </mat-tab-group>
  <div class="savoir-plus">
    <button mat-button class="btn-savoir-plus"><a mat-button routerLink=".">EN SAVOIR PLUS</a></button>
  </div>
</div>

