<div class="notre-offre" id="offre">
  <h2>Notre offre</h2>
  <hr>
  <mat-tab-group mat-align-tabs="center" class="tabLation">
    <mat-tab label="Visite virtuelle 3D">
      <p>Vos prospects se déplacent d’une pièce à l’autre de votre bien, avec une impression de liberté inégalée.</p>

      <iframe title="Visite virtuelle 3D de Big Five Abidjan" class="iframe" width='853' height='480' src='https://my.matterport.com/show/?m=W9ufV4AFQs6' frameborder='0' allowfullscreen allow='xr-spatial-tracking'></iframe>

    </mat-tab>
    <mat-tab label="Visite virtuelle HD">
      <p>Vos biens présentés de façon immersive et en haute définition, grâce à des panoramas de haute qualité.</p>
    </mat-tab>
    <mat-tab label="Retouche de panoramas">
     <p> Confiez nous vos fichiers RAW, DNG, GPR et tout autre type de panoramas et laissez nous les sublimer.</p>
    </mat-tab>
  </mat-tab-group>
  <div class="savoir-plus">
    <button mat-button class="btn-savoir-plus"><a mat-button routerLink="contact" routerLinkActive="active">EN SAVOIR PLUS</a></button>
  </div>
</div>
