<div class="footer">
    <div class="section-footer">
        <div class="section-gauche">
            <img src="./assets/img/abidjan-hd.webp" alt="Abidjan HD" width="200" height="194">
        </div>
        <div class="section-droite">
            <h3>NOS LOCAUX</h3>
            <p>Immeuble Habitat Africain, Treichville Rue des Carossiers<br> Tél. +225 07 48 348 221<br> info@bigfivesolutions.com
                <br>
                <a target="_blank" href="https://www.google.com/maps/place/Big+Five+Abidjan/@5.2948593,-3.9967012,15z/data=!4m5!3m4!1s0x0:0xddb2eec2907d9472!8m2!3d5.2948439!4d-3.9967099">
                    <!--<mat-icon aria-hidden="false" aria-label="Example home icon">launch</mat-icon>-->
                    <span>Retrouvez nous sur Google Maps</span></a><br>
            </p>
        </div>
    </div>
</div>