.one-casa {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
  height: 100vh;
}

h2 {
  font-weight: bold;
  color: #011640;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.gauche {
  width: 65%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
  border: solid gray 1px;
  padding: 20px;
}

.droite {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  padding-top: 0;
}

h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 22px;
}
