<div class="one-casa">
  <h2>{{hddata?.title}}</h2>
  <div class="gauche">
    <div class="info">
      <span class="published">
        <span class="material-icons">
          schedule
        </span>
        Publié le : {{hddata.created_at | date: 'd MMMM y'}}
      </span>
      <!--<span class="auteur">
        par  {{post.author_id}}
      </span>-->
      <span class="type-bien">
        <span class="material-icons">
          local_offer
        </span>
        {{hddata.id_bien}}
      </span>
      <span class="lieu">
        <span class="material-icons">
          location_on
        </span>
        Lieu  : {{hddata.lieu}}
      </span>
    </div>
    <div class="description">
      <h3>{{hddata.prix_min}}F CFA - {{hddata.prix_max}}F CFA</h3>
      <div class="casa-body" [innerHTML]="hddata.body"></div>
      <div>

      </div>
    </div>
  </div>
  <div class="droite">
    <h3>Contact</h3>
    <div class="geo">
      <span class="material-icons">
        location_on
      </span>
      <div>
        Géolocalisation <br>
        {{hddata?.lieu}}
      </div>

    </div>
    <div class="geo">
      <span class="material-icons">
        phone
      </span>
      <div>
        Numéro de téléphone <br>
        {{hddata?.telephone}}
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
