.one-casa {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
  height: auto;
  margin-bottom: 50px;
}

h2 {
  font-weight: bold;
  color: #011640;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.gauche {
  width: 65%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 20px;
}

.droite {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  padding-top: 0;
}

h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 22px;
}

.info {
  line-height: 40px;
  background-color: #eee;
  padding: 0 25px;
  border-radius: 5px;
}

.list {
  margin: 30px 0;
}

.type-bien,
.lieu {
  margin: 0 40px;
}

.material-icons {
  position: relative;
  top: 7px;
}
.gauche-img {
  width: 100%;
  height: 156px;
  overflow: hidden;
}

h3 {
  font-size: 18px;
  margin-top: 30px;
  font-weight: bold;
}

.geo {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 20px;
}

.geo div {
  display: inline-block;
  margin-left: 20px;
}

.droite h3 {
  margin-top: 0;
}

.casa-body, .visiter {
  margin: 20px 0;
}

.iframe {
  margin: 20px 0;
}


@media screen and (max-width: 600px) {

  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 26px;
  }

  .gauche {
    width: 90%;
    margin-right: 0;
    padding: 0 5%;
    border: none;
  }

  .type-bien, .lieu{
    margin: 0px;
    display: inline-block;
  }

  h3 {
    text-align: center;
    margin: 20px 0;
  }

  .droite {
    margin-top: 40px;
    width: 90%;
    padding: 5%;
    font-size: 18px;
    line-height: 26px;
  }
  .material-icons {
    font-size: 32px;
  }

}
