.container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}
label {
  width: 30%;
  display: inline-block;
}

#txtSearchPlaces {
  width: 68%;
  margin-bottom: 20px;
}

#map {
  border: none!important;
}
