<div class="div-contact">
  <div class="section-contact">
    <div class="section-gauche section">
      <img src="./assets/img/contact.webp" alt="Abidjan HD">
    </div>
    <div class="section-droite section">
      <h2>Contactez-nous</h2>
      <div class="separateur"><hr></div>
      <div>
        <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label>Nom et Prénom(s)</mat-label>
            <input matInput [formControl]="nom" required>
            <mat-error *ngIf="nom.invalid">Entrez votre et prénom(s) svp !</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email" placeholder="email@example.com" required>
            <mat-error *ngIf="email.invalid">SVP, entrez une adresse email valide</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea matInput [formControl]="message" maxlength="256" placeholder="Je suis intéressé par..." required></textarea>
            <mat-hint align="end"> {{message.value?.length || 0}}/256</mat-hint>
            <mat-error *ngIf="message.invalid">SVP, votre message</mat-error>
          </mat-form-field>
          <button [disabled]="isLoading" class="submit" type="submit">Envoyer</button>
          <input [formControl]="honeypot" class="hidden" type="text" />
          <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
            <span>{{responseMessage}}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

