<div class="miCasa">
    <h2>MiCassa</h2>
    <p>{{nombrePost}} résultat</p>
    <hr/>
    <div class="list" *ngFor="let post of posts">

        <div class="gauche-img">
            <a routerLink="/micasa/{{post.id}}" [state]="{ data:post }"><img src="https://abidjanhd.bigfive.dev/storage/{{post.image}}" alt="{{post.title}}" onerror="this.src='assets/img/placeholder.webp'" /></a>
        </div>
        <div class="droite">
            <h2><a routerLink="/micasa/{{post.id}}" [state]="{ data:post }">{{post.title}}</a></h2>
            <div class="info">
                <span class="published">
            <span class="material-icons">
              schedule
            </span> Publié le : {{post.created_at | date: 'd MMMM y':'fr-FR'}}
                </span>
                <!--<span class="auteur">
            par  {{post.author_id}}
          </span>-->
                <span class="type-bien">
            <span class="material-icons">
              local_offer
            </span> {{post.categorie}}
                </span>
                <span class="lieu">
            <span class="material-icons">
              location_on
            </span> Lieu : {{post.lieu}}
                </span>
            </div>
            <h3>{{post.price_min | currency:'F CFA':'symbol':'4.0':'fr-FR'}} <span *ngIf="post.price_max"> - {{post.price_max | currency:'F CFA':'symbol':'4.0':'fr-FR'}}</span></h3>
        </div>

    </div>
</div>
