<div class="one-casa">
    <h2>{{hddata?.title}}</h2>
    <div class="gauche">
        <div class="info">
            <span class="published">
        <span class="material-icons">
          schedule
        </span> Publié le : {{hddata.created_at | date: 'd MMMM y':'fr-FR'}}</span>
            <!--<span class="auteur">
        par  {{post.author_id}}
      </span>-->
            <span class="type-bien">
        <span class="material-icons">
          local_offer
        </span> {{hddata.categorie}}
            </span>
            <span class="lieu">
        <span class="material-icons">
          location_on
        </span> Lieu : {{hddata.lieu}}
            </span>
        </div>
        <div class="description">
            <h3>Prix : {{hddata.price_min | currency:'F CFA':'symbol':'4.0':'fr-FR' }}</h3>
            <div class="casa-body" [innerHTML]="hddata.body"></div>
            <div class="visiter" *ngIf="hddata.url_vr">
                <iframe class="iframe" [src]="hddata.url_vr | safe" frameborder='0' allowfullscreen allow='xr-spatial-tracking' width="100%" height="500">
        </iframe>
            </div>
            <div *ngIf="embedUrl">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" [src]="embedUrl+'&amp;output=embed&hl=fr' | safe">
        </iframe>
            </div>
        </div>
    </div>
    <div class="droite">
        <h3>Contact</h3>
        <div class="geo" *ngIf="hddata?.adresse">
          <span class="material-icons">
            location_on
          </span>
          {{hddata?.adresse}}
        </div>
        <div class="geo">
            <ul id="whooper">
                <li *ngIf="hddata?.website">
                  <mat-icon>language</mat-icon>
                  <a target="_blank" href="hddata?.website">{{hddata?.website}}</a>
                </li>
                <li *ngIf="hddata?.email">
                    <mat-icon>email</mat-icon>
                    <a target="_blank" href="mailto:{{hddata?.email}}">{{hddata?.email}}</a>
                </li>
            </ul>
        </div>
        <div class="geo">
            <ul id="whooper">
                <li *ngIf="hddata?.telephone">
                    <mat-icon>phone</mat-icon>
                    <a target="_blank" href="tel:{{hddata?.telephone}}">{{hddata?.telephone}}</a>
                </li>
                <li *ngIf="hddata?.whatsapp">
                    <mat-icon>whatsapp</mat-icon>
                    <a target="_blank" href="whatsapp://{{hddata?.whatsapp}}">{{hddata?.whatsapp}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
