<nav>
  <ul>
    <li><a mat-button routerLink="" routerLinkActive="active">Accueil</a></li>
    <li><a mat-button routerLink="micasa" routerLinkActive="active">MiCasa</a></li>
    <li><a mat-button routerLink="contact" routerLinkActive="active">Contactez nous</a></li>
    <div>
      <li><a mat-button routerLink="login" routerLinkActive="active">Se connecter</a></li>
      <li><a mat-button routerLink="register" routerLinkActive="active">S'inscrire</a></li>
    </div>
  </ul>
</nav>
<div id="mobilemenu" *ngIf="isMobile">
    <button (click)="toggleur()" id="mobiletrigger" mat-icon-button fxShow="true" fxHide.gt-sm [ngClass]="etatdumenu ?'ouvert':'ferme'">
    <mat-icon *ngIf="!afficher">menu</mat-icon>
    <mat-icon *ngIf="afficher">close</mat-icon>
  </button>
    <ul id="menumobile" *ngIf="afficher">
        <li>
            <a (click)="toggleur()" mattbutton routerLink="">Accueil</a>
        </li>
        <li>
            <a (click)="toggleur()" mattbutton routerLink="micasa">MiCasa</a>
        </li>
        <li>
            <a (click)="toggleur()" mattbutton routerLink="contact">Contactez nous</a>
        </li>
    </ul>
</div>
