<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/img/profil.png" alt="Photo">
      <mat-card-content>
        <p>
          test
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <div>
      <button mat-button>LIKE</button>
    </div>
    <div>
      <button mat-button>LIKE</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      Main content
    </div>

  </mat-drawer-content>
</mat-drawer-container>
