mat-drawer {
  margin: 16px;
  width: 250px;
  border-right: none;
  background: #011640;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 100px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: inline-flex;
  justify-content: center;
  align-items: flex-start;

  font-size: 2rem;
  color: lightgray;

  border: solid gray 1px;

  width: calc(100% - 55px);
}

mat-drawer-content {
  height: calc(100vh - 65px);
}

img {
  max-width: 60%;
  text-align: center;
  display: inline-block;
}

.mat-card-header {
  display: block;
}

.mat-tab-group {
  width: 100%;
  padding: 40px;
}

.contenu-met-tab {
  text-align: left;
  margin: 20px 0;
}

.mat-form-field {
  margin: 10px;
}

.supprimer-compte {
  margin-top: 20px;
}

.info {
  color: gray;
  font-style: italic;
  font-size: 11px;
}

.add-annonce {
  text-align: right;
}

.liste-annonces {
  margin: 40px 0;
}

table {
  width: 100%;
}
