.left {
  width: 20%;
  text-align: center;
  background-color: #011640;
  margin: 10px;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  display: inline-block;
}
.carte {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 10px;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}
.right {
  width: calc(80% - 130px);
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  margin-top: 10px;
}

.add-annonce {
  text-align: right;
}

.mat-elevation-z8 {
  width: 100%;
}

.action {
  margin: 30px 0;
}

img {
  max-width: 60%;
  text-align: center;
  display: inline-block;
  margin: 20px 0;
}

.carte-header {
  margin-top:  30px;
}

@media screen and (max-width:720px) {
  .left {
    width: calc(100% - 50px);
}
  .right {
    width: calc(100% - 80px);
  }
}
