<div class="miCasa">
    <h2>Listings</h2>
    <p>{{nombrePost}} résultat</p>

    <hr/>
    <div class="list" *ngFor="let post of posts">

      <div class="gauche-img">
        <img src="https://abidjanhd.bigfive.dev/storage/{{post.image}}" alt="{{post.title}}" />
      </div>
      <div class="droite">
        <h2><a mat-button routerLink="/micasa/{{post.id}}" [state]="{ data:post }">{{post.title}}</a></h2>
        <div class="info">
          <span class="published">
            Publié le : {{post.created_at}}
          </span>
          <span class="auteur">
            ID de l'auteur  : {{post.author_id}}
          </span>
          <span class="type-bien">
            ID de l'auteur  : {{post.id_bien}}
          </span>
          <span class="lieu">
            Lieu  : {{post.lieu}}
          </span>
        </div>
        <h3>{{post.prix_min}}F CFA - {{post.prix_max}}F CFA</h3>
      </div>

    </div>
</div>

<app-footer></app-footer>
