mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.annonce {
  margin: 50px 0 100px 0;
}

.btn {
  background-color: #011640;
  margin: 20px;
  margin-top: 50px;
}
.btn:hover {
  background-color: #5db443;
}

.divdeux {
  display: inline-block!important;
  width: calc(35% - 20px)!important;
  margin: 0 20px!important;
}

.adresse-map, .detail-contact, .detail-offre  {
  margin-top: 40px;
}

.file {
  width: 70%;
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
}

.recaptcha {
  margin-top: 50px;
  padding-left: 15%;
}
