<div class="login">
  <mat-card>
    <mat-card-content>
      <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Connexion</h2>
        <!-- Errors -->
        <mat-error *ngIf="errors?.email" class="alert alert-danger mt-3">
          {{ errors?.email }}
        </mat-error>
        <mat-error *ngIf="errors?.password" class="alert alert-danger mt-3">
            {{ errors?.password }}
        </mat-error>
        <mat-error *ngIf="errors?.error" class="alert alert-danger mt-3">
            {{ errors?.error }}
        </mat-error>
        <!-- Login -->
        <mat-form-field>
          <input matInput placeholder="Adresse email" type="email" class="form-control" formControlName="email" required>
          <mat-error>
            Veuillez fournir une adresse email valide
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mot de passe" type="password" class="form-control" formControlName="password" required>
          <mat-error>
            Veuillez fournir un mot de passe valide
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="btn">Se connecter</button>
    </form>
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>

