.div-description {
  background: #011640;
  margin-top: -2px;
  padding-left: 0;
  height: 570px;
  padding-top: 40px;
}
.section-description {
  max-width: 1140px;
  margin: 0 auto;
}
.section {
  height: calc(570px);
  display: inline-block;
  vertical-align: top;
}

.section-gauche {
  width: 50%;
  padding-top: 7%;
}
.section-droite {
  width: 50%;
}

h2 {
  max-width: 455px;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4em;
}

p {
  text-align: left;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.8em;
  max-width: 400px;
}

.section-droite img {
  max-width: 100%;
}

.barre-latteral {
  margin: 30px 0;
}

@media screen and (max-width: 600px) {
  .section-gauche {
    width: 80%;
    padding: 30px 10%;
    text-align: center;
  }
  h2 {
    font-size: 24px;
  }
  .barre-latteral {
    max-width: 100%;
  }
  p {
    text-align: center;
    padding: 0 10px;
  }
  .div-description {
    height: auto;
  }
  .section-droite {
    display: none;
  }
}
