<div class="div-description" id="description">
  <div class="section-description">
    <div class="section-gauche section">
      <h2>La visite virtuelle est l'<b>outil marketing ultime</b> pour les agences immobilières et la vente de biens immobiliers à Abidjan</h2>
      <img class="barre-latteral" src="./assets/img/barre-latteral.jpg">
      <p>Oubliez les démarcheurs.<br>
        AbidjanHD vous offre la possibilité de faire visiter vos
        biens depuis leur domicile, en toute convivialité, depuis
        la Côte d’Ivoire, <span style="color: #61bb45;">voire de l’étranger<i>.&nbsp;</i></span> </p>
    </div>
    <div class="section-droite section">
    <img src="./assets/img/description-img.jpg" alt="Abidjan HD">
    </div>
  </div>
</div>


