<div class="comment-ca-marche">
  <h2>Comment ça marche ?</h2>
  <div class="blocs">
    <div class="info">
      <h3>01. Prise de contacts & Prévisite</h3>
      <img src="./assets/img/01.jpg" alt="Abidjan HD">
      <p>Nous vous rencontrons afin d’évaluer la superficie de vos locaux et le nombre de prises de vues nécessaires à la réalisation des visites virtuelles. </p>
      <button mat-button class="btn-savoir-plus"><a mat-button routerLink=".">EN SAVOIR PLUS</a></button>
    </div>
    <div class="info">
      <h3>02. Prise de vue</h3>
      <img src="./assets/img/02.jpg" alt="Abidjan HD">
      <p>Nos techniciens se rendent dans vos locaux afin de prendre les photos de vos locaux </p>
      <button mat-button class="btn-savoir-plus"><a mat-button routerLink=".">EN SAVOIR PLUS</a></button>
    </div>
    <div class="info">
      <h3>03. Lien de la visite virtuelle</h3>
      <img src="./assets/img/03.jpg" alt="Abidjan HD">
      <p>Nous vous enverrons un lien présentant soit la visite 3D, soit la visite HD de vos biens dans un délai n’excédant pas les 24 heures.</p>
      <button mat-button class="btn-savoir-plus"><a mat-button routerLink=".">EN SAVOIR PLUS</a></button>
    </div>
  </div>
</div>
